.btn{
    border: 5px visit tomato;
    border-radius:30px ;
    background-color: brown;
    padding: 12px 30px;
    font-weight: bolder;
    cursor: pointer;
}
.TouristPlace-Card{
  background-color: darkcyan; 
  border: 5px double;
  border-radius: 20px;
  padding: 30px; 
  width: 350px;
  margin:50px;
  font-weight: bolder;
  font-style: initial;
}
.Food-Card{
  background-color: darkcyan; 
  border: 5px double;
  border-radius: 20px;
  padding: 30px; 
  width: 350px;
  margin:50px;
  font-weight: bolder;
  font-style: initial;
}
.Fruit-Card{
  background-color: darkcyan; 
  border: 5px double;
  border-radius: 20px;
  padding: 30px; 
  width: 350px;
  margin:50px;
  font-weight: bolder;
  font-style: initial;
}
.Mobile-Card{
  background-color: darkcyan; 
  border: 5px double;
  border-radius: 20px;
  padding: 30px; 
  width: 350px;
  margin:50px;
  font-weight: bolder;
  font-style: initial;
}
